/* ------------------------- Header ----------------------- */
.Q_iconSearch {
  width: 1.6rem;
  height: 1.6rem;
  padding-left: 11.9rem;
  background-position: right;
  background-image: url('/src/images/header/iconSearch.svg');
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
}

/* ------------------------- Footer ----------------------- */
.Q_socialmediaButtonsFooter {
  width: 5rem;
  height: 5rem;
  border-radius: var(--radiusMedium);
  background: var(--grey);

  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;

  &:first-child {
    background-image: url('/src/images/footer/dzenFooter.svg');
  }

  &:last-child {
    background-image: url('/src/images/footer/telegramFooter.svg');
  }
}

.Q_logoFooterHse {
  width: 10.25rem;
  height: 4.13rem;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/src/images/footer/logoFooterHse.svg');
}

/* ------------------------- Index ----------------------- */
.Q_fixedElement {
  height: 44.1rem;
  width: 100%;

  position: fixed;
  background-position: center;

  z-index: 1;

  background-image: url('/src/images/index/fixedElement.svg');
  background-repeat: no-repeat;
  background-size: 45rem 44.1rem;
}

.Q_iconArrow {
  width: 1.5rem;
  height: 1.5rem;

  background-image: url('/src/images/index/iconArrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Q_cardArticleImg {
  background-repeat: no-repeat;

  &.lecture {
    height: 15rem;
    background-image: url('/src/images/articles/lecture.svg');
    background-size: 100% 15rem;
  }

  &.research {
    height: 10.8rem;
    background-image: url('/src/images/articles/research.svg');
    background-size: 100% 10.8rem;
  }

  &.podcast {
    height: 9.9rem;
    width: 9.9rem;
    background-image: url('/src/images/articles/podcast.svg');
    background-size: 7.75rem 7.75rem;
    background-position: bottom;
  }
}

.Q_cardInfoImg {
  height: 16.4rem;
  width: 100%;
  background-size: cover;
}

.Q_cardTextImg {
  width: 19rem;
  height: 13rem;
  background-size: auto;
}

.Q_cardInfoImg,
.Q_cardTextImg {
  mix-blend-mode: lighten;
  filter: saturate(0);
  background-position: center;
  background-repeat: no-repeat;
}

.Q_mediaLogos {
  width: 6.2rem;
  height: 6.2rem;

  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  .Q_cardInfoImg {
    background-size: 25vw;
    background-position: center;
  }
}
