/* ------------------------- Header ----------------------- */
.Q_iconSearch {
  width: 1.6rem;
  height: 1.6rem;
  padding-left: 11.2rem;
  background-position: right;
  background-image: url('/src/images/header/iconSearch.svg');
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
}

/* ------------------------- Footer ----------------------- */
.Q_socialmediaButtonsFooter {
  width: 5rem;
  height: 5rem;
  border-radius: var(--radiusMedium);
  background: var(--grey);

  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;

  &.dzen {
    background-image: url('/src/images/footer/dzenFooter.svg');
  }

  &.tg {
    background-image: url('/src/images/footer/telegramFooter.svg');
  }
}

.Q_logoFooterHse {
  width: 10.25rem;
  height: 4.13rem;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/src/images/footer/logoFooterHse.svg');
}

/* ------------------------- Index ----------------------- */
.Q_fixedElement {
  height: 44.1rem;
  width: 100%;

  position: fixed;
  background-position: center;

  z-index: 1;

  background-image: url('/src/images/index/fixedElement.svg');
  background-repeat: no-repeat;
  background-size: 45rem 44.1rem;
}

.Q_iconArrow {
  width: 1.5rem;
  height: 1.5rem;

  background-image: url('/src/images/index/iconArrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Q_cardArticleImg {
  background-repeat: no-repeat;

  &.medium {
    height: 15rem;
    background-image: url('/src/images/articles/lecture.svg');
    background-size: 100% 15rem;
  }

  &.big {
    height: 10.8rem;
    background-image: url('/src/images/articles/research.svg');
    background-size: 100% 10.8rem;
  }

  &.small {
    height: 9.9rem;
    width: 9.9rem;
    background-image: url('/src/images/articles/podcast.svg');
    background-size: 7.75rem 7.75rem;
    background-position: bottom;
  }
}

.Q_cardInfoImg {
  height: 16.4rem;
  width: 100%;
  background-size: cover;
}

.Q_cardTextImg {
  width: 19rem;
  height: 13rem;
  background-size: contain;

  &.solarSystem {
    background-image: url('/src/images/tests/solarSystemPlanets.webp');
  }
  &.spectralClasses {
    background-image: url('/src/images/tests/spectralClassesOfStars.webp');
  }
  &.cosmicDisance {
    background-image: url('/src/images/tests/cosmicDistance.webp');
  }
}

.Q_cardInfoImg,
.Q_cardTextImg,
.Q_cardPopupImg {
  mix-blend-mode: lighten;
  filter: saturate(0);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--radiusMedium);
}

.Q_mediaLogos {
  width: 6.2rem;
  height: 6.2rem;

  background-repeat: no-repeat;
  background-size: cover;

  &.dzen {
    background-image: url('/src/images/index/dzen.svg');
  }

  &.tg {
    background-image: url('/src/images/index/telegram.svg');
  }
}

/*------------------------- Cards -----------------------*/
.Q_cardInfoImg {
  &.black {
    background-image: url('/src/images/cards/blackHole.webp');
  }

  &.sun {
    background-image: url('/src/images/cards/sunnyWind.webp');
  }
  &.quaz {
    background-image: url('/src/images/cards/quazar.webp');
  }
  &.supernova {
    background-image: url('/src/images/cards/supernova.webp');
  }
  &.nebula {
    background-image: url('/src/images/cards/nebula.webp');
  }
  &.galaxy {
    background-image: url('/src/images/cards/galaxy.webp');
  }
  &.puls {
    background-image: url('/src/images/cards/pulsar.webp');
  }
  &.comet {
    background-image: url('/src/images/cards/comet.webp');
  }
  &.dwarf {
    background-image: url('/src/images/cards/dwarf.webp');
  }

  &.popup {
    width: 100%;
    height: 16rem;
    background-size: cover;

    &.sun {
      background-size: contain;
    }
  }
}

.Q_closeButton {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('/src/images/cards/closeButton.svg');
  background-size: cover;
  align-self: end;
  cursor: pointer;
}

/* ------------------------- LecturePage ----------------------- */
.Q_eye,
.Q_like {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Q_eye {
  background-image: url('/src/images/articles/lectures/Q_eye.svg');
}

.Q_like {
  background-image: url('/src/images/articles/lectures/Q_like.svg');
}

/* ------------------------- PodcastPage ----------------------- */
.Q_podcast {
  background-image: url('/src/images/articles/podcasts/yandex.webp');
  width: 22rem;
  height: 7rem;
  background-size: contain;
  border-radius: var(--radiusSmall);
  mix-blend-mode: lighten;
  filter: saturate(0);
  border: var(--borderGrey);
  background-repeat: no-repeat;
}

/* ------------------------- TestPage ----------------------- */
.Q_radioButton {
  cursor: pointer;
  background-color: var(--charcoal);
  appearance: none;
  margin: 0;
  font: inherit;
  color: var(--silver);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--silver);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.Q_radioButton::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--white);
}

.Q_radioButton:checked::before {
  transform: scale(1);
}

.Q_radioButton:focus {
  outline: max(2px, 0.15em) var(--silver);
  outline-offset: max(2px, 0.15em);
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .Q_cardArticleImg {
    &.big {
      height: 20vw;
      background-size: 100% 20vw;
    }

    &.medium {
      height: 31vw;
      background-size: 100% 31vw;
    }

    &.small {
      height: 11vw;
      width: 11vw;
      background-size: contain;
      margin: 3.6vw 1.8vw;
    }
  }

  .Q_cardInfoImg {
    height: 28.5vw;
  }

  .Q_closeButton {
    width: 3.1vw;
    height: 3.1vw;
  }

  .Q_cardInfoImg {
    &.popup {
      height: 34vw;
    }
  }

  .Q_cardTextImg {
    width: 100%;
    height: 100%;
    background-position: center;
    &.spectralClasses {
      background-position: top;
    }
  }

  .Q_fixedElement {
    height: 105vw;
    background-size: 100% 70vw;
  }

  .Q_iconArrow {
    width: 3vw;
    height: 3vw;
  }

  .Q_mediaLogos {
    width: 8.5vw;
    height: 8.5vw;
  }

  .Q_eye,
  .Q_like {
    width: 3vw;
    height: 3vw;
  }

  .Q_podcast {
    width: 29vw;
    height: 9.1vw;
  }

  .Q_radioButton {
    width: 2.4vw;
    height: 2.4vw;
    border: 0.32vw solid var(--silver);
  }

  .Q_radioButton::before {
    width: 1.35vw;
    height: 1.35vw;
    box-shadow: inset 2.1vw 2.1vw var(--white);
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .Q_iconSearch {
    width: 3vw;
    height: 3vw;
    padding-left: 18vw;
    background-size: contain;
  }

  .Q_socialmediaButtonsFooter {
    width: 10.4vw;
    height: 10.4vw;
  }

  .Q_logoFooterHse {
    width: 22.4vw;
    height: 9vw;
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .Q_menuIcon {
    width: 4.8vw;
    height: 0.5vw;
    border-radius: 0.5vw;
    background: var(--silver);
  }

  .Q_cardArticleImg {
    &.big {
      height: 100%;
      background-size: contain;
      background-position: bottom;
    }
    &.small {
      height: 22vw;
      width: 100%;
      margin-top: 6vw;
      background-size: contain;
    }
    &.medium {
      height: 64vw;
      background-size: contain;
      background-position: center;
    }
  }

  .Q_socialmediaButtonsFooter {
    width: 17vw;
    height: 17vw;
  }

  .Q_logoFooterHse {
    width: 100%;
    height: 10.3vw;
    background-size: contain;
  }

  .Q_cardInfoImg {
    height: 59vw;
  }

  .Q_closeButton {
    width: 6.5vw;
    height: 6.5vw;
  }

  .Q_cardInfoImg {
    &.popup {
      height: 48vw;
      background-size: contain;
    }
  }

  .Q_cardTextImg {
    width: 100%;
    height: 100%;
    background-position: center;
    &.spectralClasses {
      background-position: top;
    }
  }

  .Q_iconArrow {
    width: 5vw;
    height: 5vw;
  }

  .Q_mediaLogos {
    width: 18vw;
    height: 18vw;
  }

  .Q_fixedElement {
    height: 200vw;
    background-size: 100% 125vw;
    width: 100vw;
  }

  .Q_eye,
  .Q_like {
    width: 5vw;
    height: 5vw;
  }

  .Q_podcast {
    width: 50vw;
    height: 15.5vw;
  }

  .Q_radioButton {
    width: 6.4vw;
    height: 6vw;
    border: 0.5vw solid var(--silver);
  }
  .Q_radioButton::before {
    width: 3vw;
    height: 3vw;
  }
}
