/* ------------------------- Header ----------------------- */
.A_logoHeader {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  gap: 0.53rem;
  width: 11.9rem;

  font-size: 1.44rem;
  font-weight: 700;
  letter-spacing: -0.09rem;
  text-transform: uppercase;

  &::before {
    content: '';
    background-image: url('/src/images/header/iconLogoHeader.svg');
    background-repeat: no-repeat;
    width: 2.43rem;
    height: 2.43rem;
    background-size: 2.43rem 2.43rem;
  }
}

.A_navigationActionsHeader {
  color: var(--lightGrey);
  font: var(--fontP);
  letter-spacing: -0.04rem;

  &:hover {
    color: var(--white);
    font-weight: 600;
  }

  &.activePage {
    color: var(--white);
    font-weight: 600;
  }
}

/* ------------------------- Footer ----------------------- */
.A_inputFooter,
.A_inputHeader {
  border: 0;
  background: var(--grey);
  color: var(--lightGrey);
  font-weight: 600;
  outline: none;

  width: 20.44rem;
  height: 100%;
  padding: 1.13rem 1rem;
  border-radius: var(--radiusMedium);
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: -0.04rem;

  &:focus {
    background-color: var(--white);
  }
}

.A_logoFooter {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 2.88rem;
  font-weight: 500;
  letter-spacing: -0.11rem;
  text-transform: uppercase;

  &::before {
    content: '';
    background-image: url('/src/images/footer/iconLogoFooter.svg');
    background-repeat: no-repeat;
    width: 3.1rem;
    height: 3.3rem;
    background-size: 3.1rem 3.3rem;
  }
}

.A_authorsFooter {
  font: var(--fontAuthors);
  display: flex;
  letter-spacing: -0.05rem;

  &.headline {
    color: var(--lightGrey);
  }
  &.names {
    color: var(--silver);
  }
}

/* ------------------------- Typography ----------------------- */
.A_H1 {
  font: var(--fontH1);
  color: var(--silver);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.3rem;

  &.mobile {
    display: none;
  }

  &.desktop {
    display: block;
  }
}

.A_h2 {
  font: var(--fontH2);
  letter-spacing: -0.15rem;
  text-align: center;
}

.A_h3 {
  font: var(--fontH3);
  letter-spacing: -0.06rem;
}

.A_h4 {
  font: var(--fontH4);
  width: 30.9rem;
  color: var(--white);
  text-align: center;
  letter-spacing: -0.025rem;
}

.A_p {
  font: var(--fontP);
  color: var(--lightGrey);
  text-align: center;
  letter-spacing: -0.04rem;
}

/* ------------------------- Index ----------------------- */
.A_linkButton {
  font: var(--fontLinkButton);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: -0.025rem;
}

.A_testLevelTags {
  font: var(--fontLevelTags);

  background: var(--white);
  color: var(--charcoal);

  padding: 0.45rem 0.81rem;
  border-radius: var(--radiusSmall);
  letter-spacing: -0.03rem;

  &.none {
    position: absolute;
    left: 1.26rem;
    top: 1.26rem;
  }

  &.easy,
  &.middle,
  &.hard {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 0.4rem;
  }

  &.easy::before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-image: url('/src/images/easyLevel.svg');
  }

  &.middle::before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-image: url('/src/images/mediumLevel.svg');
  }

  &.hard::before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-image: url('/src/images/hardLevel.svg');
  }
}

.A_mainButton {
  font: var(--fontMainButton);
  background: var(--white);
  border: 0;
  color: var(--charcoal);

  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  border-radius: var(--radiusMedium);
  letter-spacing: -0.04rem;

  &:hover {
    background: var(--silver);
  }

  &:focus {
    background: var(--lightGrey);
  }
}

/* ------------------------- Articles ----------------------- */
.A_filterButton {
  font: var(--fontFilterButton);
  border: var(--borderGrey);
  background: var(--charcoal);
  color: var(--lightGrey);

  padding: 0.9rem 2rem;
  border-radius: 0.75rem;
  letter-spacing: -0.04rem;

  &:hover {
    border: var(--borderWhite);
    box-shadow: var(--shadow);
    color: var(--white);
    font-weight: 600;
  }

  &.active {
    border: var(--borderWhite);
    box-shadow: var(--shadow);
    color: var(--white);
    font-weight: 600;
  }
}

/* ------------------------- ResearchPage ----------------------- */
.A_articleImage {
  width: 100%;
  border-radius: var(--radiusSmall);
}

/* ------------------------- LecturePage ----------------------- */
.A_player {
  height: 40rem;
  width: 100%;
  position: relative;
  border-radius: var(--radiusBig);
  border: var(--borderGrey);
}

/* ------------------------- PodcastPage ----------------------- */
.A_podcastImage {
  width: 31.25rem;
  height: 31.25rem;
  border-radius: var(--radiusSmall);
  mix-blend-mode: lighten;
  filter: saturate(0);
  border: var(--borderGrey);
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .A_logoHeader {
    gap: 1vw;
    width: 18vw;
    font-size: 2.2vw;
    letter-spacing: -0.15vw;
    align-self: center;

    &::before {
      width: 3.4vw;
      height: 3.8vw;
      background-size: contain;
    }
  }

  .A_navigationActionsHeader {
    letter-spacing: -0.1vw;
    font-size: 2.1vw;
  }

  .A_inputFooter {
    padding: 2.4vw 2vw;
    width: 63.5vw;
  }
  .A_mainButton {
    padding: 2.4vw 2vw;
    font-size: 2.6vw;
    line-height: 120%;
  }

  .A_logoFooter {
    gap: 2.2vw;
    font-size: 6vw;
  }

  .A_authorsFooter {
    font-size: 2.6vw;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .A_H1 {
    font-size: 7.3vw;
    line-height: 110%;
    letter-spacing: -0.45vw;
  }

  .A_h2 {
    font-size: 4.2vw;
    letter-spacing: -0.25vw;
  }

  .A_h3 {
    font-size: 2.65vw;
    line-height: 100%;
  }

  .A_h4 {
    font-size: 2.6vw;
    letter-spacing: -0.04vw;
  }

  .A_p {
    font-size: 2.1vw;
    letter-spacing: -0.1vw;
    line-height: 100%;
  }

  .A_filterButton {
    padding: 1.5vw 2.4vw;
    align-items: center;
    font-size: 1.8vw;
  }

  .A_testLevelTags {
    &.none {
      left: 2vw;
      top: 2vw;
      font-size: 1.6vw;
    }
  }

  .A_testLevelTags {
    padding: 1vw 1.6vw;
    font-size: 1.6vw;
    border-radius: 1.1vw;

    &.easy::before,
    &.middle::before,
    &.hard::before {
      width: 1.6vw;
      height: 1.9vw;
      background-size: contain;
    }
  }

  .A_linkButton {
    gap: 1vw;
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .A_logoHeader {
    gap: 1.5vw;
    width: 38.6vw;
    font-size: 4.8vw;
    align-self: center;

    &::before {
      width: 7.5vw;
      height: 7.5vw;
      background-size: 7.5vw 7.5vw;
    }
  }

  .A_H1 {
    font-size: 11vw;
    line-height: 100%;
    letter-spacing: -0.9vw;
  }

  .A_h2 {
    font-size: 8.5vw;
    letter-spacing: -0.5vw;
  }

  .A_h3 {
    line-height: 100%;
    letter-spacing: -0.2vw;
    font-size: 5.3vw;
  }

  .A_h4 {
    font-size: 4.3vw;
    line-height: 130%;
    letter-spacing: -0.1vw;
  }

  .A_p {
    letter-spacing: -0.1vw;
    font-size: 3.8vw;
  }

  .A_filterButton {
    padding: 3.2vw;
    font-size: 3.7vw;
    letter-spacing: -0.15vw;
  }

  .A_testLevelTags {
    padding: 1.5vw 3.4vw;
    letter-spacing: -0.03rem;
    font-size: 3.2vw;
    &.none {
      left: 4vw;
      top: 4vw;
      line-height: 120%;
    }
  }

  .A_inputFooter {
    width: 100%;
    padding: 4.8vw 4.2vw;
    font-size: 4.2vw;
    line-height: 120%;
    letter-spacing: -0.18vw;
  }

  .A_authorsFooter {
    font-size: 4.3vw;
    letter-spacing: -0.18vw;
  }

  .A_logoFooter {
    gap: 2.5vw;
    font-size: 2.88rem;
    letter-spacing: -0.11rem;
    font-size: 7.5vw;
    letter-spacing: -0.3vw;
    &::before {
      width: 8vw;
      height: 9vw;
      background-size: contain;
    }
  }

  .A_mainButton {
    font-size: 4.3vw;
    line-height: 120%;
    letter-spacing: -0.18vw;
  }

  .A_inputHeader {
    display: flex;
    width: 100%;
    height: 16vw;
    padding: 5vw 4.5vw;
    align-items: center;
    gap: 6px;
    justify-content: flex-start;
  }
}
