/* ------------------------- Header ----------------------- */
.A_logoHeader {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  gap: 0.53rem;
  width: 11.9rem;

  font-size: 1.44rem;
  font-weight: 700;
  letter-spacing: -0.09rem;
  text-transform: uppercase;

  &::before {
    content: '';
    background-image: url('/src/images/header/iconLogoHeader.svg');
    background-repeat: no-repeat;
    width: 2.43rem;
    height: 2.43rem;
    background-size: 2.43rem 2.43rem;
  }
}

.A_navigationActionsHeader {
  color: var(--lightGrey);
  font: var(--fontP);
  letter-spacing: -0.04rem;

  &:hover {
    color: var(--white);
    font-weight: 600;
  }

  &.activePage {
    color: var(--white);
    font-weight: 600;
  }
}

/* ------------------------- Footer ----------------------- */
.A_inputFooter {
  border: 0;
  background: var(--grey);
  color: var(--lightGrey);
  font-weight: 600;
  outline: none;

  width: 20.44rem;
  height: 100%;
  padding: 1.13rem 1rem;
  border-radius: var(--radiusMedium);
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: -0.04rem;

  &:focus {
    background-color: var(--white);
  }
}

.A_logoFooter {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 2.88rem;
  font-weight: 500;
  letter-spacing: -0.11rem;
  text-transform: uppercase;

  &::before {
    content: '';
    background-image: url('/src/images/footer/iconLogoFooter.svg');
    background-repeat: no-repeat;
    width: 3.1rem;
    height: 3.3rem;
    background-size: 3.1rem 3.3rem;
  }
}

.A_authorsFooter {
  font: var(--fontAuthors);
  display: flex;
  color: var(--lightGrey);
  letter-spacing: -0.05rem;

  &:nth-child(2) {
    color: var(--silver);
  }
}

/* ------------------------- Typography ----------------------- */
.A_H1 {
  font: var(--fontH1);
  color: var(--silver);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.3rem;
}

.A_h2 {
  font: var(--fontH2);
  letter-spacing: -0.15rem;
  text-align: center;
}

.A_h3 {
  font: var(--fontH3);
  letter-spacing: -0.06rem;
}

.A_h4 {
  font: var(--fontH4);
  width: 30.9rem;
  color: var(--white);
  text-align: center;
  letter-spacing: -0.025rem;
}

.A_p {
  font: var(--fontP);
  color: var(--lightGrey);
  text-align: center;
  letter-spacing: -0.04rem;
}

/* ------------------------- Index ----------------------- */
.A_linkButton {
  font: var(--fontLinkButton);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: -0.025rem;
}

.A_testLevelTags {
  font: var(--fontLevelTags);

  background: var(--white);
  color: var(--charcoal);

  padding: 0.45rem 0.81rem;
  border-radius: var(--radiusSmall);
  letter-spacing: -0.03rem;

  &.none {
    position: absolute;
    left: 1.26rem;
    top: 1.26rem;
  }

  &.easy,
  &.medium,
  &.hard {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 0.4rem;
  }

  &.easy::before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-image: url('/src/images/easyLevel.svg');
  }

  &.medium::before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-image: url('/src/images/mediumLevel.svg');
  }

  &.hard::before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-image: url('/src/images/hardLevel.svg');
  }
}

.A_mainButton {
  font: var(--fontMainButton);
  background: var(--white);
  border: 0;
  color: var(--charcoal);

  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  border-radius: var(--radiusMedium);
  letter-spacing: -0.04rem;

  &:hover {
    background: var(--silver);
  }

  &:focus {
    background: var(--lightGrey);
  }
}

/* ------------------------- Articles ----------------------- */
.A_filterButton {
  font: var(--fontFilterButton);
  border: var(--borderGrey);
  background: var(--charcoal);
  color: var(--lightGrey);

  padding: 0.9rem 2rem;
  border-radius: 0.75rem;
  letter-spacing: -0.04rem;

  &:hover {
    border: var(--borderWhite);
    box-shadow: var(--shadow);
    color: var(--white);
    font-weight: 600;
  }

  &.active {
    border: var(--borderWhite);
    box-shadow: var(--shadow);
    color: var(--white);
    font-weight: 600;
  }
}
