/* ------------------------- Footer ----------------------- */
.W_topFooter,
.W_bottomFooter {
  display: flex;
  justify-content: space-between;
}

.W_topFooter {
  align-items: flex-start;
}

.W_bottomFooter {
  align-items: flex-end;
}

.W_topFooter,
.W_bottomFooter {
  width: 100%;
  margin: 0 auto;
}

/* ------------------------- Index ----------------------- */
.W_articles,
.W_cards,
.W_tests,
.W_mediaLinks {
  position: relative;
  z-index: 2;

  margin: 3.6rem auto 0;
  max-width: 90rem;
  padding: 2.5rem 3rem;
}

.W_articles {
  display: flex;
  justify-content: space-between;
}

.W_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.W_tests {
  display: flex;
  flex-direction: row;
  height: 31.7rem;
  gap: 3.5rem;
}

.W_cardTest {
  display: flex;
  justify-content: space-between;
  gap: 3.85rem;
  padding: 1.5rem;
  height: fit-content;
  width: 41rem;
  border-radius: var(--radiusBig);

  border: var(--borderGrey);
  background: var(--charcoal);
}

.W_mediaLinks {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

/* ------------------------- Cards ----------------------- */
.W_popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  display: grid;
  place-content: center;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
  z-index: 3;

  &.activePopup {
    opacity: 1;
    visibility: initial;
    pointer-events: initial;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  .W_tests {
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
  }

  .W_cardTest {
    width: calc(1024px - 6rem);
    justify-content: space-between;
  }

  .W_mediaLinks {
    width: calc(1024px - 6rem);
    justify-content: space-between;
    padding: 2.5rem 0;
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .W_topFooter {
    flex-direction: column;
    gap: 28.5vw;
    flex-wrap: wrap;
  }

  .W_bottomFooter {
    row-gap: 11vw;
    flex-wrap: wrap;
  }
}
