/* ------------------------- Footer ----------------------- */
.W_topFooter,
.W_bottomFooter {
  display: flex;
  justify-content: space-between;
}

.W_topFooter {
  align-items: flex-start;
}

.W_bottomFooter {
  align-items: flex-end;
}

.W_topFooter,
.W_bottomFooter {
  width: 100%;
  margin: 0 auto;
}

/* ------------------------- Index ----------------------- */
.W_articles,
.W_cards,
.W_tests,
.W_mediaLinks {
  position: relative;
  z-index: 2;

  gap: 4rem;
  margin: 3.6rem auto 0;
  max-width: 90rem;
  padding: 2.5rem 3rem;
}

.W_articles {
  display: flex;
  justify-content: space-between;
}

.W_cards {
  display: flex;
  flex-direction: row;
}

.W_tests {
  display: flex;
  flex-direction: row;
  height: 31.7rem;
}

.W_cardTest {
  display: flex;
  gap: 3.85rem;
  padding: 1.5rem;
  height: 60%;
  border-radius: var(--radiusBig);

  border: var(--borderGrey);
  background: var(--charcoal);
}

.W_mediaLinks {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  .W_tests {
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
  }

  .W_cardTest {
    width: calc(1024px - 6rem);
    justify-content: space-between;
  }

  .W_mediaLinks {
    width: calc(1024px - 6rem);
    justify-content: space-between;
    padding: 2.5rem 0;
  }
}
