/* ------------------------- Styleguide ----------------------- */
.C_styleColors {
  display: flex;
  flex-direction: row;
}

.C_styleFont {
  padding: 5rem;
  .A_H1 {
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .A_p {
    text-align: left;

    &#SuisseIntl {
      margin-bottom: 7rem;
    }
  }
}

.C_lettersRow {
  display: flex;
  gap: 1.1rem;
}

.C_styleBranding {
  display: grid;
  gap: 1.25rem;
  grid-template: auto / repeat(2, 2fr);
  padding-top: 3.5rem;
}

.C_styleSocial {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .C_menuItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 3vw;
  }
  .C_articleNote {
    display: flex;
    justify-content: space-between;
    margin: 1.5vw 0;
  }
}

.C_PostTeasers {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  margin: 3.6rem auto 0;
  max-width: 90rem;
  padding: 2.5rem 3rem;
  justify-content: center;
  margin-top: 0rem;
}

.C_postTeaserTags {
  margin-top: 10px;
}

.C_PostSuggestions {
  border-radius: var(--radiusMedium);
  position: absolute;
  width: 39.4rem;
  margin-top: 1rem;
}
