/* ------------------------- Footer ----------------------- */
.S_Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 32vw;
  margin-top: 10.4vw;
  padding: 2.8vw;

  border-radius: 2.8vw 2.8vw 0 0;
  border: var(--borderGrey);
  background: var(--charcoal);

  position: relative;
  z-index: 2;
}

/* ------------------------- Articles ----------------------- */
.S_articlesContent {
  width: 100%;
  padding: 0 2.8vw;

  display: grid;
  grid-template: auto / repeat(4, 1fr);
  grid-auto-flow: row;
  gap: 6vw 1vw;

  grid-template-areas:
    'research1 research1 research2 research2'
    'podcast1 . podcast2 lecture1'
    '. research3 research3 .'
    'podcast3 podcast4 lecture2 .'
    'research4 research4 . podcast5'
    'lecture3 . podcast6 lecture4';
}
