/* ------------------------- Footer ----------------------- */
.S_Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 28.7rem;
  padding: 2.5rem;
  margin-top: 9.3rem;

  border-radius: 2.5rem 2.5rem 0 0;
  border: var(--borderGrey);
  background: var(--charcoal);

  position: relative;
  z-index: 2;
}

/* ------------------------- Articles ----------------------- */
.S_articlesContent {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2.5rem;
  display: grid;
  grid-auto-flow: row;
  gap: 3.5rem 1rem;
  grid-template: auto / repeat(12, 1fr);
  grid-auto-flow: row dense;

  &.selected {
    grid-template-areas:
      'research1 research1 research2 research2'
      'podcast1 . podcast2 lecture1'
      '. research3 research3 .'
      'podcast3 podcast4 lecture2 .'
      'research4 research4 . podcast5'
      'lecture3 . podcast6 lecture4';
  }
}

/* ------------------------- Cards ----------------------- */
.S_cardsContent {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2.5rem;
  display: grid;
  grid-template: auto / repeat(3, 25.64rem);
  justify-content: space-between;
  gap: 3.5rem;
}

/* ------------------------- Tests ----------------------- */
.S_testsContent {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2.5rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 3.5rem;
}

/* ------------------------- ResearchPage ----------------------- */
.S_article {
  padding: 0 2.5rem;
  display: grid;
  grid-template-columns: 12rem 49.2rem;
  grid-auto-rows: auto;
  column-gap: 6rem;
  margin: 0 auto;
  max-width: 90rem;

  &.cosmicDistance {
    grid-template-rows: 48rem 15.4rem 31rem 175rem 15.4rem;
  }

  &.bigBang {
    grid-template-rows: 54.4rem 9rem 50rem 12.5rem;
  }

  &.blackHole {
    grid-template-rows: 152.7rem 85rem 10rem;
  }
}

/* ------------------------- LecturePage ----------------------- */
.S_lecture {
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 2.5rem;
  display: flex;
  gap: 3.75rem;
  flex-direction: column;
}

/* ------------------------- PodcastPage ----------------------- */
.S_podcast {
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7rem 2.5rem;
  justify-content: space-between;
}

/* ------------------------- TestPage ----------------------- */
.S_test {
  display: flex;
  align-items: flex-start;
  gap: 8.75rem;
  margin: 0 auto;
  max-width: 90rem;
  padding: 2.5rem 2.5rem 3.5rem;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .S_Footer {
    height: 100%;
    padding: 5.2vw;
    gap: 5.2vw;
    margin-top: 11vw;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .S_articlesContent {
    max-width: 100vw;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    grid-auto-flow: row;
    padding: 0 3.1vw;
    row-gap: 5.2vw;

    &.selected {
      grid-template-areas: none;
      grid-auto-flow: dense;
    }
  }

  .S_cardsContent {
    max-width: 100vw;
    grid-template: 1fr / 1fr 1fr;
    justify-content: space-between;
    grid-auto-flow: row;
    padding: 0 3.1vw;
    gap: 2.3vw;
  }

  .S_testsContent {
    max-width: 100vw;
    grid-template: 1fr / 1fr 1fr;
    justify-content: space-between;
    grid-auto-flow: row;
    padding: 0 3.1vw;
    gap: 2.3vw;
  }

  .S_article {
    padding: 0 3.1vw;
    grid-template-columns: 15vw 62.2vw;
    column-gap: 16.5vw;
    margin: 0 auto;
    max-width: 100vw;

    &.cosmicDistance {
      grid-template-rows: 95vw 27vw 72vw 278vw 31vw;
    }

    &.bigBang {
      grid-template-rows: 110.5vw 24vw 113vw 18vw;
    }

    &.blackHole {
      grid-template-rows: 245vw 156vw 18vw;
    }
  }

  .S_lecture {
    gap: 5.6vw;
    max-width: 100vw;
    padding: 0 3.1vw 7.4vw;
  }

  .S_podcast {
    padding: 0 3.1vw;
    max-width: 100vw;
  }

  .S_test {
    padding: 0 3.1vw;
    max-width: 100vw;
    gap: 5.2vw;
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .S_articlesContent {
    padding: 0 3vw;
    max-width: 100vw;
    row-gap: 8.3vw;
    grid-template: auto / 2fr;
    justify-content: space-between;
    grid-auto-flow: row;

    &.selected {
      grid-template-areas: none;
      grid-auto-flow: row dense;
    }
  }

  .S_Footer {
    height: 100%;
    margin-top: 21vw;
    max-width: 100vw;
    display: flex;
    padding: 6.2vw 3.1vw;
    gap: 10.4vw;
  }

  .S_cardsContent {
    padding: 0 3vw;
    max-width: 100vw;
    row-gap: 3.2vw;
    grid-template: auto / 1fr;
  }

  .S_testsContent {
    padding: 0 3vw;
    max-width: 100vw;
    row-gap: 3.2vw;
    grid-template: auto / 1fr;
  }

  .S_article {
    padding: 0 3vw;
    margin: 0 auto;
    max-width: 100vw;
    grid-template-rows: auto;
    column-gap: 0;
    grid-template-columns: 1fr;
  }

  .S_lecture {
    gap: 3vw;
    margin: 0 auto;
    max-width: 100vw;
    padding: 0 3vw;
  }

  .S_podcast {
    padding: 0 3vw;
    margin: 0 auto;
    max-width: 100vw;
    gap: 3vw;
  }

  .S_test {
    padding: 0 3vw;
    max-width: 100vw;
    gap: 9vw;
    flex-direction: column;
  }
}

.S_SearchContent {
  max-width: 1024px;
  margin: 40px 0;
}
