/*------------------------- Filters -----------------------*/
.O_headlinePage {
  .A_p {
    width: 21vw;
    text-align: left;
  }

  .A_filterButton {
    &:first-child {
      border: 0.12vw solid #fff;
      background: #1e1e1e;
      box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.2);
      color: #fff;
      font-weight: 600;
    }
  }
}

/*------------------------- Articles -----------------------*/
.S_articlesContent {
  .O_cardArticle {
    &:first-child {
      grid-area: research1;
    }

    &:nth-child(2) {
      grid-area: research2;
    }

    &:nth-child(3) {
      grid-area: podcast1;
    }

    &:nth-child(4) {
      grid-area: podcast2;
    }

    &:nth-child(5) {
      grid-area: lecture1;
    }

    &:nth-child(6) {
      grid-area: research3;
    }

    &:nth-child(7) {
      grid-area: podcast3;
    }

    &:nth-child(8) {
      grid-area: podcast4;
    }

    &:nth-child(9) {
      grid-area: lecture2;
    }

    &:nth-child(10) {
      grid-area: research4;
    }

    &:nth-child(11) {
      grid-area: podcast5;
    }

    &:nth-child(12) {
      grid-area: lecture3;
    }

    &:nth-child(13) {
      grid-area: podcast6;
    }

    &:nth-child(14) {
      grid-area: lecture4;
    }

    .A_testLevelTags {
      position: absolute;
      height: 1.9vw;
      left: 1.4vw;
      top: 1.4vw;
    }

    .A_h3 {
      max-width: 30vw;
    }
  }
}
