/*------------------------- Filters -----------------------*/
.O_headlinePage > p {
  width: 19rem;
  text-align: left;
}

/*------------------------- Articles -----------------------*/
.S_articlesContent {
  .O_cardArticle {
    .A_h3 {
      max-width: 27rem;
    }

    &.selected {
      &:first-child {
        grid-area: research1;
      }

      &:nth-child(2) {
        grid-area: research2;
      }

      &:nth-child(3) {
        grid-area: podcast1;
      }

      &:nth-child(4) {
        grid-area: podcast2;
      }

      &:nth-child(5) {
        grid-area: lecture1;
      }

      &:nth-child(6) {
        grid-area: research3;
      }

      &:nth-child(7) {
        grid-area: podcast3;
      }

      &:nth-child(8) {
        grid-area: podcast4;
      }

      &:nth-child(9) {
        grid-area: lecture2;
      }

      &:nth-child(10) {
        grid-area: research4;
      }

      &:nth-child(11) {
        grid-area: podcast5;
      }

      &:nth-child(12) {
        grid-area: lecture3;
      }

      &:nth-child(13) {
        grid-area: podcast6;
      }

      &:nth-child(14) {
        grid-area: lecture4;
      }
    }
    &.big {
      grid-column: span 6;
    }
    &.medium {
      grid-column: span 3;
    }
    &.small {
      grid-column: span 2;
    }
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .O_headlinePage > p {
    width: 40vw;
  }

  .S_articlesContent {
    & .O_cardArticle {
      &.big,
      &.medium {
        grid-column: span 2;
      }
    }

    &.selected {
      .O_cardArticle {
        &:nth-child(n + 1) {
          grid-area: auto;
        }
        &.big,
        &.medium {
          grid-column: span 2;
        }
        &.medium {
          grid-row: span 2;
        }
        &.small,
        &.big {
          grid-row: span 1;
        }
        &:nth-child(7) {
          grid-area: 2 / 3;
        }
        &:nth-child(11) {
          grid-area: 8 / 1;
        }
        &:nth-child(13) {
          grid-area: 8 / 2;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .O_headlinePage > p {
    width: 80%;
    line-height: 130%;
  }

  .S_articlesContent {
    & .O_cardArticle {
      .A_h3 {
        max-width: calc(100vw - 6vw);
      }
    }

    &.selected {
      .O_cardArticle {
        &:nth-child(n + 1) {
          grid-area: auto;
        }
        &.big,
        &.medium {
          grid-column: span 2;
        }
      }
    }
    .O_cardArticle {
      &.small {
        grid-column: span 1;
      }
    }
  }
}
