html {
  display: block;
  font-family: 'SuisseIntl';
  color: var(--silver);
  scroll-behavior: smooth;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }

  body {
    background-color: var(--bgColor);
    background-image: url('../images/BackgroundImage.svg');
    background-size: cover;
    background-repeat: no-repeat;

    a {
      color: var(--silver);
      text-decoration: none;
    }

    button {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 2560px) and (min-width: 1921px) {
  html {
    font-size: 21px;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}
