/*------------------------- PopupScrollLock -----------------------*/
body.popup {
  scrollbar-gutter: stable;
}

.scrollLock {
  overflow: hidden;
}

/*------------------------- Title -----------------------*/
.M_headlinePage > p {
  width: 16.5rem;
  text-align: left;
}

/*------------------------- Cards -----------------------*/

.O_moreCardInfo {
  .A_h2,
  .A_h4 {
    color: var(--white);
    width: 32rem;
  }
}

.activePopup {
  .O_moreCardInfo {
    transform: rotate(0);
  }
}
