body {
  .navbar,
  .title,
  .textBlocks,
  .chapter {
    margin: 2.5vw 2.5vw 0;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    margin: 2.5vw 2.5vw 0;
    justify-content: space-between;
    align-items: center;
    font-family: JetBrainsMono;
    font-weight: 400;
    font-size: 1vw;

    .nav_logo {
      background-image: url('../images/logo.webp');
      background-size: cover;
      width: 12vw;
      height: 1.5vw;
    }

    .nav_menu {
      display: flex;
      flex-direction: row;
      gap: 0.3vw;

      .nav_item:nth-child(1) {
        width: 6.5vw;
      }

      .nav_item:nth-child(2) {
        width: 6vw;
      }

      .nav_item:nth-child(3) {
        width: 8.5vw;
      }

      .nav_item:nth-child(4) {
        width: 8vw;
      }

      .nav_item {
        width: 6vw;
        text-align: center;

        a {
          color: #fff;
          text-decoration-line: none;
        }

        .page {
          background-color: #383838;
          border-radius: 12px;
          border: #5a5a5a solid 1px;
          height: 2.4vw;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .search {
      background-color: #383838;
      border-radius: 12px;
      border: #5a5a5a solid 1px;
      height: 2.4vw;
      width: 7.5vw;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.9vw;
      color: #fff;

      #glass {
        background-image: url('../images/search-icon.webp');
        background-size: cover;
        width: 1.4vw;
        height: 1.4vw;
        margin-left: 0.6vw;
      }
    }

    #form {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
      gap: 1.5vw;

      p {
        font-size: 1.1vw;
        margin-bottom: 1.7vw;
      }

      #my-form {
        margin-bottom: 1vw;
        font-size: 1vw;

        input {
          padding: 0;
          padding-left: 1vw;
          font-size: 1.1vw;
          width: 24vw;
          height: 4vw;
          background-color: #0e0e10;
          color: #ffffff;
          border: solid 1px #1a1a1c;
        }

        #my-form-status {
          margin-top: 1vw;
        }

        #my-form-button {
          width: 10vw;
          height: 4vw;
          background-color: #ffffff;
          color: #000000;
          border: none;
          font-size: 1.1vw;
          margin-left: 0.1vw;
          cursor: pointer;
        }

        input,
        #my-form-button {
          font-family: SuisseIntl;
          font-weight: 400;
          border-radius: 12px;
        }

        ::placeholder {
          color: #28282c;
          opacity: 1; /* Firefox */
        }

        ::-ms-input-placeholder {
          /* Edge 12 -18 */
          color: #28282c;
        }
      }
    }
  }
}
