/* ------------------------- footer ----------------------- */
.S_Footer {
  .A_h4 {
    width: 100%;
    text-align: left;
  }

  .A_mainButton {
    width: 11.36rem;
    height: 100%;
    border-radius: 1.2rem;
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .S_Footer {
    .A_mainButton {
      width: 100%;
    }
  }
}
