/* ------------------------- footer ----------------------- */
.S_Footer {
  .A_h4 {
    width: 100%;
    text-align: left;
  }

  .A_mainButton {
    width: 11.36rem;
    height: 100%;
    border-radius: 1.2rem;
  }
  .A_logoFooter {
    color: var(--white);
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .S_Footer {
    .A_h4 {
      width: 68vw;
    }
    .A_mainButton {
      width: 23.7vw;
    }
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  .S_Footer {
    .A_h4 {
      font: var(--fontH4);
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .S_Footer {
    .A_mainButton {
      width: 100%;
    }
  }
}
