.A_logoHeader > a {
  color: var(--white);
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .M_Navigation.overlay {
    .O_Header {
      &.mobile.overlay {
        .Q_closeButton {
          align-self: center;
          background-position: center;
        }
      }
    }
    .Q_iconSearch {
      padding: 0;
      background-image: url('/src/images/header/iconSearchGrey.svg');
      width: 6vw;
      height: 6vw;
      background-size: contain;
    }
  }
}
