/*------------------------- PopupScrollLock & cardsAnimation -----------------------*/
body {
  &.popup {
    scrollbar-gutter: stable;
  }
  &.hvrCard {
    .O_cardArticle,
    .O_cardInfo,
    .W_cardTest,
    .O_cardMedia {
      transition: 3s ease-out;
      transform: translateY(0);
    }

    .O_cardArticle:hover,
    .O_cardInfo:hover,
    .W_cardTest:hover,
    .O_cardMedia:hover {
      animation: hvrCardFloat 0.3s ease-out forwards,
        hvrCard 1.5s 0.3s ease-in-out infinite alternate;
    }
  }
}

.scrollLock {
  overflow: hidden;
}

@keyframes hvrCard {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes hvrCardFloat {
  100% {
    transform: translateY(-10px);
  }
}

/* ------------------------- sectionHeadings ----------------------- */
.O_chapter {
  .A_h4 {
    text-align: left;
    max-width: 25.2rem;
    color: var(--lightGrey);
  }
  .A_linkButton {
    a {
      color: var(--white);
    }
    &:hover {
      a {
        color: var(--silver);
      }
      .Q_iconArrow {
        background-image: url('/src/images/index/iconArrowHover.svg');
      }
    }
    &:active {
      a {
        color: var(--lightGrey);
      }
      .Q_iconArrow {
        background-image: url('/src/images/index/iconArrowPressed.svg');
      }
    }
  }
}

/* ------------------------- articles ----------------------- */
.W_articles {
  .O_cardArticle {
    .A_h3 {
      max-width: 27rem;
    }

    &.big {
      margin-top: 5.25rem;
    }
    &:nth-child(4) {
      display: none;
    }
  }
}

/* ------------------------- tests ----------------------- */
.W_cardTest {
  .O_cardTextGroup {
    .A_h3 {
      width: 14rem;
    }
    .A_p {
      text-align: left;
    }
  }

  &:nth-child(2) {
    align-self: end;
  }
}

/* ------------------------- socialMediaLinks ----------------------- */
.M_secondPageText {
  .A_H1 {
    max-width: 55rem;
  }

  .A_h4 {
    padding: 0 4.2rem 0.5rem 4.2rem;
  }
}

.O_cardMedia {
  .A_p {
    text-align: left;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .M_mainPageText {
    .A_H1 {
      line-height: 100%;
    }

    .A_h4 {
      font-size: 2.1vw;
      line-height: 130%;
      width: 52vw;
    }
  }

  .O_chapter {
    .A_h4 {
      font-size: 2vw;
      line-height: 130%;
    }
  }

  :nth-child(1 of .O_chapter) {
    margin-top: 51.5vw;

    .A_h4 {
      max-width: 42vw;
      width: 42vw;
    }
  }

  :nth-child(2 of .O_chapter) {
    .A_h4 {
      max-width: 35vw;
      width: 35vw;
    }
  }

  :nth-child(3 of .O_chapter) {
    .A_h4 {
      max-width: 36vw;
      width: 36vw;
    }
  }

  .A_linkButton > a {
    font-size: 2.6vw;
  }

  .W_articles {
    .O_cardArticle {
      &:nth-child(4) {
        display: block;
      }

      &:nth-child(1) {
        grid-area: lecture;
        width: 45.7vw;
      }
      &:nth-child(2) {
        grid-area: research;
        margin: 0;
        width: 45.7vw;
      }
      &:nth-child(3) {
        grid-area: podcast1;
        width: 21.7vw;
      }
      &:nth-child(4) {
        grid-area: podcast2;
        width: 21.7vw;
      }
      .A_h3 {
        max-width: 100%;
      }
    }
  }

  .W_cards {
    .S_popupContainer {
      &:nth-child(3) {
        display: none;
      }
    }
  }

  .W_tests {
    .W_cardTest {
      & .O_cardTextGroup {
        .A_h3 {
          width: 19vw;
        }
      }
    }
    .Q_cardTextImg.solarSystem {
      background-position: top;
    }
  }

  .M_secondPageText {
    .A_H1 {
      max-width: 80vw;
    }

    .A_h4 {
      font-size: 2.1vw;
      line-height: 130%;
      padding: 0 10vw 1vw 10vw;
      width: 60vw;
    }
  }

  .O_cardMedia {
    .A_mainButton {
      padding: 2vw 12vw;
      font-size: 2.3vw;
      height: 7vw;
      border-radius: 2vw;
    }
  }

  .M_cardTexts {
    &.media {
      align-items: center;
    }
    .A_p {
      text-align: center;
      font-size: 1.8vw;
    }

    .A_h2 {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .M_mainPageText {
    .A_h4 {
      font-size: 3.7vw;
      width: 70vw;
    }
  }

  .O_chapter {
    .A_h4 {
      max-width: 75vw;
      font-size: 3.6vw;
      text-align: center;
    }
  }

  :nth-child(1 of .O_chapter) {
    margin-top: 104vw;
  }

  .A_linkButton > a {
    font-size: 3.6vw;
  }

  .W_articles {
    & .O_cardArticle {
      width: 100%;
      &:nth-child(4) {
        display: block;
      }
      &.big {
        margin-top: 0;
      }
    }
  }

  .W_cards {
    .S_popupContainer {
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        display: none;
      }
    }
  }

  .M_secondPageText {
    .A_H1 {
      max-width: 90vw;
    }

    .A_h4 {
      width: 75vw;
      font-size: 3.7vw;
      padding: 0;
    }
  }

  .O_cardMedia {
    .M_cardTexts {
      &.media {
        align-items: center;
      }
      .A_p {
        text-align: center;
        font-size: 3.8vw;
        line-height: 100%;
      }

      .A_h2 {
        margin-top: 0;
      }
    }
    .A_mainButton {
      padding: 2vw 28vw;
      font-size: 4.2vw;
      height: 13.5vw;
      border-radius: 4vw;
    }
  }

  .W_cardTest {
    & .O_cardTextGroup {
      .A_h3 {
        width: 50vw;
      }
    }
    .Q_cardTextImg {
      background-position: top;
    }
  }

  .W_articles {
    & .O_cardArticle {
      .A_h3 {
        max-width: 75vw;
      }
    }
    & .O_cardArticle.small {
      .A_h3 {
        max-width: 45vw;
      }
      width: auto;
    }
  }
}
