/*------------------------- PopupScrollLock & cardsAnimation -----------------------*/
body {
  &.popup {
    scrollbar-gutter: stable;
  }
  &.hvrCard {
    .O_cardArticle,
    .O_cardInfo,
    .W_cardTest,
    .O_cardMedia {
      transition: 3s ease-out;
      transform: translateY(0);
    }

    .O_cardArticle:hover,
    .O_cardInfo:hover,
    .W_cardTest:hover,
    .O_cardMedia:hover {
      animation: hvrCardFloat 0.3s ease-out forwards,
        hvrCard 1.5s 0.3s ease-in-out infinite alternate;
    }
  }
}

.scrollLock {
  overflow: hidden;
}

@keyframes hvrCard {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes hvrCardFloat {
  100% {
    transform: translateY(-10px);
  }
}

/* ------------------------- sectionHeadings ----------------------- */
.O_chapter {
  .A_h4 {
    text-align: left;
    max-width: 25.2rem;
    color: var(--lightGrey);
  }
  .A_linkButton {
    a {
      color: var(--white);
    }
    &:hover {
      a {
        color: var(--silver);
      }
      .Q_iconArrow {
        background-image: url('/src/images/index/iconArrowHover.svg');
      }
    }
    &:active {
      a {
        color: var(--lightGrey);
      }
      .Q_iconArrow {
        background-image: url('/src/images/index/iconArrowPressed.svg');
      }
    }
  }
}

/* ------------------------- articles ----------------------- */
.W_articles {
  .O_cardArticle {
    .A_h3 {
      max-width: 27rem;
    }

    &.big {
      margin-top: 5.25rem;
    }
  }
}

/* ------------------------- tests ----------------------- */
.W_cardTest {
  .O_cardTextGroup {
    .A_h3 {
      width: 14rem;
    }
    .A_p {
      text-align: left;
    }
  }

  &:nth-child(2) {
    align-self: end;
  }
}

/* ------------------------- socialMediaLinks ----------------------- */
.M_secondPageText {
  .A_H1 {
    max-width: 55rem;
  }

  .A_h4 {
    padding: 0 4.2rem 0.5rem 4.2rem;
  }
}

.O_cardMedia {
  .A_p {
    text-align: left;
  }
}
