html {
  display: block;
  font-family: 'SuisseIntl';
  color: #c0c0c0;
  scroll-behavior: smooth;

  a {
    color: #c0c0c0;
    text-decoration: none;
  }
}

body {
  background-color: #141414;
  background-image: url('../images/BackgroundImage.svg');
  background-size: cover;
  background-repeat: no-repeat;

  * {
    box-sizing: border-box;
  }

  /* ------------------------- sectionHeadings ----------------------- */
  .O_chapter {
    .A_h4 {
      text-align: left;
      max-width: 28vw;
    }
  }

  /* ------------------------- articles ----------------------- */
  .W_articles {
    .O_cardArticle {
      .A_testLevelTags {
        position: absolute;
        height: 1.9vw;
        left: 1.4vw;
        top: 1.4vw;
      }

      .A_h3 {
        max-width: 30vw;
      }

      &:nth-child(2) {
        margin-top: 5.8vw;
      }
    }
  }

  /* ------------------------- cards ----------------------- */

  .O_cardInfo {
    &:first-child {
      .Q_cardInfoImg {
        background-image: url('../images/index/blackHole.webp');
      }
    }
    &:nth-child(2) {
      .Q_cardInfoImg {
        background-image: url('../images/index/sunnyWind.webp');
      }
    }
    &:last-child {
      .Q_cardInfoImg {
        background-image: url('../images/index/quazar.webp');
      }
    }
  }

  /* ------------------------- tests ----------------------- */
  .W_cardTest {
    .O_cardTextGroup {
      .A_testLevelTags {
        display: flex;
        justify-content: center;
        align-self: flex-start;
        align-items: end;
        gap: 0.4vw;

        &::before {
          content: '';
          background-image: url('../images/index/SixSpokedAsteriskGreen.svg');
          width: 1.1vw;
          height: 1.1vw;
          background-size: 1.1vw 1.1vw;
          background-repeat: no-repeat;
        }
      }

      .M_cardTexts {
        width: 16vw;
        height: 5.6vw;
        justify-content: center;
        align-items: flex-start;

        .A_h3 {
          width: 16vw;
        }

        .A_p {
          text-align: left;
        }
      }
    }

    &:first-child {
      .Q_cardTextImg {
        background-image: url('../images/index/solarSystemPlanets.webp');
      }
    }
    &:last-child {
      .Q_cardTextImg {
        background-image: url('../images/index/spectralClassesOfStars.webp');
      }
    }

    &:nth-child(2) {
      align-self: end;

      .A_testLevelTags::before {
        background-image: url('../images/index/SixSpokedAsteriskRed.svg');
      }
    }
  }

  /* ------------------------- socialMediaLinks ----------------------- */
  .M_secondPageText {
    .A_H1 {
      width: 61vw;
    }

    .A_h4 {
      padding: 0 4.7vw 0.5vw 4.7vw;
    }
  }

  .O_cardMedia {
    &:first-child {
      .Q_mediaLogos {
        background-image: url('../images/index/dzen.svg');
      }
    }

    &:last-child {
      .Q_mediaLogos {
        background-image: url('../images/index/telegram.svg');
      }
    }

    .M_cardTexts {
      align-items: flex-start;
      gap: 1.4vw;

      .A_p {
        width: 29vw;
        line-height: 100%;
        text-align: left;
      }
    }
  }
}
