.S_podcast {
  .M_articleText {
    width: 100%;
    width: 100%;
    gap: 2rem;
    align-self: flex-start;

    .A_h3,
    .A_h4 {
      width: 100%;
      text-align: left;
    }
  }
  .W_articleEnd {
    grid-template: auto / 1fr;
    margin: 0 auto;
    justify-items: center;

    .A_h2 {
      color: var(--white);
    }

    .O_cardArticle.big {
      .A_h3 {
        max-width: 27rem;
      }
    }
  }
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .S_podcast {
    .M_articleText {
      gap: 3vw;
    }
    .W_descriptonPodcast {
      .M_articleText {
        margin-bottom: auto;
      }

      .A_h4 {
        font-size: 2vw;
        line-height: 130%;
      }

      .O_statistic {
        order: 3;
      }
    }
    .W_articleEnd {
      .A_h2 {
        font-size: 5.3vw;
        width: 70vw;
        line-height: 90%;
      }

      .O_cardArticle {
        width: 45.7vw;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .S_podcast {
    .M_articleText {
      order: 3;
      gap: 4.5vw;
    }
    .W_articleEnd {
      margin: 12.8vw 0 0;
      gap: 5vw;

      .A_h2 {
        line-height: 90%;
      }
    }
    .O_statistic {
      align-self: center;
    }
  }
}
