.S_podcast {
  .M_articleText {
    width: 100%;
    width: 100%;
    gap: 2rem;
    align-self: flex-start;

    .A_h3,
    .A_h4 {
      width: 100%;
      text-align: left;
    }
  }
  .W_articleEnd {
    grid-template: auto / 1fr;
    margin: 0 auto;
    justify-items: center;

    .O_cardArticle.big {
      .A_h3 {
        max-width: 27rem;
      }
    }
  }
}
