/*------------------------- Tests -----------------------*/
.S_testsContent {
  .W_cardTest {
    justify-content: space-between;

    .Q_cardTextImg {
      &.solarSystem {
        background-image: url('../images/index/solarSystemPlanets.webp');
      }
      &.spectralClasses {
        background-image: url('../images/index/spectralClassesOfStars.webp');
      }
    }

    &.selected {
      grid-column: span 2;

      &:nth-child(2) {
        justify-self: flex-end;
        margin-right: 19rem;
      }

      &:nth-child(3) {
        grid-column: span 1;
      }

      &:nth-child(4) {
        grid-column: span 1;
      }

      &:nth-child(5) {
        margin-left: 14rem;
      }

      &:last-child {
        justify-self: flex-end;
      }
    }
  }
}
