:root {
  --bgColor: #141414;
  --charcoal: #1a1a1a;
  --grey: #2f2f2f;
  --lightGrey: #888888;
  --silver: #c0c0c0;
  --white: #ffffff;

  --shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.2);

  --borderGrey: 0.0625rem solid var(--grey);
  --borderWhite: 0.0625rem solid var(--white);
}
