<footer class="S_Footer">
  <div class="W_topFooter">
    <div class="O_formSubscribe">
      <h4 class="A_h4">
        Будем присылать вам только полезную информацию и уведомлять о новых
        материалах на cosmology.space
      </h4>
      <div class="M_formSubscribe">
        <input
          class="A_inputFooter"
          type="email"
          name="email"
          placeholder="Email"
        />
        <button class="A_mainButton">Подписаться</button>
      </div>
    </div>

    <div class="M_socialButtonsFooter">
      <div class="Q_socialmediaButtonsFooter"></div>
      <div class="Q_socialmediaButtonsFooter"></div>
    </div>
  </div>
  <div class="W_bottomFooter">
    <div class="M_logosFooter">
      <div class="A_logoFooter">COSMOLOGY</div>
      <div class="Q_logoFooterHse"></div>
    </div>
    <div class="O_personasFooter">
      <div class="M_authors">
        <div class="A_authorsFooter"><p>Кураторы</p></div>
        <div class="A_authorsFooter"><p>Софья Каем, Анна Комкова</p></div>
      </div>
      <div class="M_authors">
        <div class="A_authorsFooter"><p>Авторы</p></div>
        <div class="A_authorsFooter">
          <p>Никита Чугайнов, Мария Семёновых, Алёна Чибичик</p>
        </div>
      </div>
    </div>
  </div>
</footer>
