<header class="O_Header desktop">
  <a href="https://hseadc.github.io/cosmology/" class="A_logoHeader"
    >COSMOLOGY</a
  >
  <nav class="M_Navigation">
    <a
      href="https://hseadc.github.io/cosmology/articles.html"
      class="A_navigationActionsHeader"
      id="articles"
      >Статьи</a
    >
    <a
      href="https://hseadc.github.io/cosmology/cards.html"
      class="A_navigationActionsHeader"
      id="cards"
      >Карточки</a
    >
    <a
      href="https://hseadc.github.io/cosmology/tests.html"
      class="A_navigationActionsHeader"
      id="tests"
      >Тесты</a
    >
  </nav>
  <div class="Q_iconSearch"></div>
</header>

<header class="O_Header mobile">
  <a href="https://hseadc.github.io/cosmology/" class="A_logoHeader"
    >COSMOLOGY</a
  >
  <div class="A_menuButton">
    <div class="Q_menuIcon"></div>
    <div class="Q_menuIcon"></div>
    <div class="Q_menuIcon"></div>
  </div>
</header>
